| Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид.
Сможете ли вы это сделать без get_dummies?

```python
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head()
```

In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
print(random.shuffle(lst))
data = pd.DataFrame({'whoAmI':lst})
data

None

   whoAmI
0   human
1   robot
2   robot
3   robot
4   robot
5   human
6   human
7   robot
8   robot
9   robot
10  human
11  human
12  human
13  human
14  robot
15  human
16  robot
17  human
18  robot
19  human

In [2]:
def one_hot_func(data_frame, col):
    first_value = list(set(data_frame[col]))[0]
    second_value = list(set(data_frame[col]))[1]
    data_frame.loc[data_frame[col] == first_value, col] = 1
    data_frame.loc[data_frame[col] == second_value, col] = 0
one_hot_func(data,'whoAmI')
data

   whoAmI
0       1
1       0
2       0
3       0
4       0
5       1
6       1
7       0
8       0
9       0
10      1
11      1
12      1
13      1
14      0
15      1
16      0
17      1
18      0
19      1